<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Corely" version="5.5.2" targetFramework="net48" />
  <package id="DocuWare.Platform.ServerClient" version="12.2.1" targetFramework="net48" />
  <package id="DocuWare.Platform.ServerClient.Extensions" version="11.0.2" targetFramework="net48" />
  <package id="DocuWare.RestClient" version="10.5.358704" targetFramework="net48" />
  <package id="DocuWare.UriTemplates" version="10.5.358704" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>